.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
.header h2 {
    font-size: 4em;
}
.header h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 80px;
    margin: 30px 20px;
}

.iam{
    font-family: "Montserrat";
    color: rgb(250, 246, 246);
    font-size: 40px;
}
.name{
    font-family: "Montserrat";
    color: rgb(250, 246, 246);
    font-size: 45px;
    margin-left: 25px;
    margin-top: 0px;
}
