.portfolio {
    text-align: center;
}
.works{
    color: white;
    font-size: 40px;
    font-weight: normal;
    font-family: "Montserrat";
    margin-top: 60px;
    margin-left: 20px;
    color: white;
}
.stk {
    color: pink;
}
.portfolio > h3 {
    font-size: 2em;
    font-weight: 400;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 40px 20px;
}
.projects h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
}
.projects p {
    color: rgb(29, 243, 221);
    margin-top: 4px;
}
